<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block Title %} {% endblock %} </title>
    {% block css_additional %} {% endblock %}
<link rel="stylesheet" href="{% static urls 'css/style.css' %}">
</head>
<body>
{% include 'includes/navbar.html' %}
{% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
{% endif %}
{% block content %}
{% endblock %}

{% include 'includes/navbar.html' %}
<body>
</html>