{% load static %}
<link rel="stylesheet" href="{% static 'Date/css/nav_style.css' %}">
<nav>
    <ul class="navbar">
     <img src="{% static 'Date/img/icon.png' %}">
        <li> <a href="{% url 'home' %}">  главная </a></li>

        {% if user.is_authenticated %}
        <li> <a href="{% url 'cabinet' %}"> кабинет </a></li>
        <li><a href="{% url 'main' %}"> важно! </a> </li>
        <li><a href="{% url 'logout' %}?next={{request.path}}"> выход </a> </li>
        <li> -> {{User.get_username}} </li>
         {% else %}
        <li><a href="{% url 'register' %}?next={{request.path}}">  регистрация  </a></li>
         <li><a href="{% url 'login' %}?next={{request.path}}"> вход </a></li>
        {% endif %}
            </ul>
</nav>